**/CMakeCache.txt
**/CMakeFiles
build
checker
abi-checker
freerdpinstall
freerdp-build
/libs
/winscripts/cJSON*/
/winscripts/libusb*/
/winscripts/uriparser*/
/winscripts/SDL*/
/winscripts/zlib*/
/winscripts/openssl*/
/winscripts/python*
/winscripts/strawberry-perl*
.vscode/
*.pdb